@font-face {
 font-family: 'CarbonBold';
 src: url(CarbonBold.ttf);
}

body {
  background-color: #D9CAB3;
}

h1 {
font-family: 'CarbonBold';
  font-size: 3em;
}

.circular{
  border-radius: 100%;
}

hr {
  border-style: solid none none;
  border-width: 3px;
  border-color: #6D9886;
  width: 90%;
}
